{% extends "base.html" %}
{% block content %}
<p>You are almost done! Please start a 2FA app (such as Authy) on your smartphone and scan the following QR Code with it</p>
<div>{{ qr | safe }}</div>
<p>You can also set a password below, but that step is optional. If you don't set a password, you will be able to log in using only the token.</p>
<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.new_password.label }}
    {{ form.new_password }}
    <button type="submit">Set new password</button>
</form>
<p>Once you're done, you can <a href="{{ url_for('user.login') }}">log in</a>!</p>
{% endblock %}