{% extends "base.html" %}
{% block content %}
<h2>Karma</h2>
<h3>Podcast value</h3>
<table>
<tr><td>Total played</td><td>{{ played_value }} minutes</td></tr>
{% for action_name, amount in paid_value_amounts %}
<tr><td>Total {{ action_name }}</td><td>{{ amount }} sats</td></tr>
{% endfor %}
</table>

<h2>Account</h2>
<table>
    <tr><td><strong title="username">{{ user.username }}</strong> {% if user.password %}<i title="password protected" class="fas fa-key"></i>{% else %}<i title="no password" class="fas fa-unlock"></i>{% endif %}</td><td><a href="{{ url_for('account.password') }}">set password</a></td></tr>
    <tr><td>API key</td><td>{{ user.fever_api_key }}</td></tr>
    {% if not (only_default_user and not user.password) %}
    <tr><td><a href="{{ url_for('account.logout') }}">log out</a></td></tr>
    {% endif %}
</table>

<h2>App</h2>
<table>
    <tr><td>Version</td><td>{{ version }}</td></tr>
    <tr><td>Build</td><td>{{ build }}</td></tr>
    <tr><td>Website</td><td><a href="http://usocial.me" target="_blank">usocial.me</a></td></tr>
    <tr><td>LND</td><td>{% if lnd_info %}connected to node <small>{{ lnd_info.identity_pubkey }}</small>{% else %}not connected{% endif %}</td></tr>
</table>
{% endblock %}