<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>{% if feed %}{{ feed.title }} :: {% endif %}usocial :: the anti-social network</title>
        <link rel="icon" href="/static/favicon.ico" sizes="any"><!-- 32×32 -->
        <link rel="icon" href="/static/mu.svg" type="image/svg+xml">
        <link rel="stylesheet" href="/static/fontawesome/all.css">
        <link rel="stylesheet" href="/static/style.css" />
        <script type="text/javascript" src="/static/utils.js"></script>
        <script>
            var csrfToken = '{{ csrf_token() }}'; // {# https://github.com/wtforms/flask-wtf/blob/main/src/flask_wtf/csrf.py #}
            var username = '{% if user %}{{ user.username }}{% endif %}';
            var userTimezone = '{% if user and user.timezone %}{{ user.timezone }}{% endif %}';
        </script>
    </head>
    <body onload="onBodyLoad();">
    <center>
    <table width="85%">
        <tr id="navbar">
            <td>
                <table width="100%">
                    <tr>
                    <td>
                        {% if user %}
                            <a href="{{ url_for('feed.items') }}"><i title="my feeds" class="fas fa-rss"></i></a> |
                            <a href="{{ url_for('feed.liked_items') }}"><i title="my liked items" class="fas fa-heart"></i></a>
                        {% else %}
                            Welcome to <strong>usocial</strong>. Please log in to continue.
                        {% endif %}
                    </td>
                    <td style="text-align: right;">
                        {% if user %}
                            <a href="{{ url_for('account.account') }}"><i title="account" class="fas fa-user-cog"></i></a>
                        {% endif %}
                    </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td id="flashes">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <table width="100%">
                {% for message in messages %}
                    <tr class="error"><td style="text-align: center;">{{ message }}</td></tr>
                {% endfor %}
            </table>
            {% endif %}
            {% endwith %}
            </td>
        </tr>
        <tr class="content">
            <td>
            {% block content %}{% endblock %}
            </td>
        </tr>
    </table>
    </center>
    </body>
</html>