{% extends "base.html" %}
{% block content %}

{% if not liked %}
  <a href="{{ url_for('feed.add_website') }}" title="add blog">+ <i class="fas fa-blog"></i></a> <a href="{{ url_for('feed.search_podcasts') }}" title="add podcast">+ <i class="fas fa-podcast"></i></a>
{% endif %}

{% set feed_value_spec = feed.value_spec %}

<hr />
<table class="split-panels">
<tr><td class="left-panel">
<table class="feeds-table">
    <tr class="main-row feed-row">
        <td class="feed-actions"></td>
        <td id="feed-all"
            onclick="feedClick(event, 'all', {% if liked %}true{% else %}false{% endif %}); return false;">
            All
        </td>
        <td></td>
        <td>{{ counts['total'] }}</td>
    </tr>
    <tr class="main-row feed-row">
        <td class="feed-actions"></td>
        <td id="feed-playing"
            onclick="feedClick(event, 'playing', {% if liked %}true{% else %}false{% endif %}); return false;">
            Playing
        </td>
        <td></td>
        <td></td>
    </tr>
    {% for feed in feeds %}
    {% if counts[feed.id] %}
        <tr class="main-row feed-row {% if feed.active %}feed-active {% endif %}"
            onclick="feedClick(event, {{ feed.id }}, {% if liked %}true{% else %}false{% endif %}); return false;"
            title="{% if feed.fetched_at %}fetched at {{ feed.fetched_at.strftime('%-d %b %-H:%M') }}{% endif %}">
            <td id="feed-{{ feed.id }}" class="feed-actions feed-followed-1">
                <span class="unfollow-link">
                    <span onclick="followFeed({{ feed.id }}, 0); return false;" href=""><i title="unfollow" class="far fa-eye"></i></span>
                </span>
                <span class="follow-link">
                    <span onclick="followFeed({{ feed.id }}, 1); return false;" href=""><i title="follow" class="far fa-eye-slash"></i></span>
                </span>
            </td>
            <td id="feed-{{ feed.id }}">
                {{ feed.title }} {% if feed.is_podcast %}<i class="fas fa-podcast"></i>{% else %}<i class="fas fa-blog"></i>{% endif %}
            </td>
            <td>
                {% if feed.fetch_failed %}<i class="fas fa-exclamation" title="fetch failed"></i>{% endif %}
            </td>
            <td>{{ counts[feed.id] }}</td>
        </tr>
        <tr><td></td></tr>
    {% endif %}
    {% endfor %}
</table>
</td><td class="right-panel">

{% if feed %}
<h2 id="feed-title">{{ feed.title }}</h2>
<table id="feed-details">
    {% if feed_value_spec and feed_value_spec.is_supported %}
    <tr>
        <td>
            suggested
        </td>
        <td>
            <span id="value-spec-amount">{{ feed_value_spec.sats_amount }}</span> sats / minute
        </td>
    </tr>
    <tr>
        <td>
            streamed
        </td>
        <td>
            <span id="stream-value-played">{{ played_value }}</span>
            <span id="stream-value-paid" style="display: none;">{{ paid_value }}</span> minutes
            <a href="" title="contribute" onclick="showStreamPayment(); return false;"><i class="fas fa-bolt"></i>
        </td>
    </tr>
    <tr id="stream-payment" style="display: none">
        <td></td>
        <td>
            <input id="stream-value-amount" type="number" size="4" min="100" step="100" /> sats
            <button id="send-stream-value" onclick="sendStreamValue({{ feed.id }});">Send</button>
        </td>
    </tr>
    <tr id="boost-payment" style="display: none">
        <td></td>
        <td>
            <input id="boost-value-amount" type="number" size="4" min="100" value="100" step="50" /> sats
            <button id="send-boost-value" onclick="sendBoostValue();">Boost!</button>
        </td>
    </tr>
    <tr>
        <td>contributed</td>
        <td>
            <a href="" title="show history" onclick="showActions(); return false;"><i class="fas fa-history"></i></a>
            {% for action_name, amount in paid_value_amounts %}
                {{ action_name }} <span id="contribution-amount-{{ action_name }}">{{ amount }}</span> sats
            {% endfor %}
        </td>
    </tr>
    {% for action in actions %}
        <tr class="actionRow" style="display: none">
            <td></td>
            <td>
                <small>{{ action.date.strftime('%-d %b %Y %-H:%M') }}</small> {% if action.errors %}<i class="fas fa-exclamation" title="has errors"></i>{% endif %} {{ action.action.value }} {{ action.amount_msat // 1000 }} sats
            </td>
        </tr>
    {% endfor %}
    {% endif %}
</table>
{% endif %}

{% if show_player %}
<table class="fullWidthTable">
<tr><td>
<audio id="podcastPlayer" controls="controls" onvolumechange="podcastPlayerVolumeChanged();" data-volume="{{ user.audio_volume }}">
    <source id="audioSource" src="" type=""></source>
    Your browser does not support the audio tag.
</audio>
</td></tr>
</table>
{% endif %}

<table id="items" class="items-table">
    {% for i in items %}
        <tr id="item-{{ i.user_item.item_id }}"
            class="main-row item-row item item-liked-{% if i.user_item.liked %}1{% else %}0{% endif %} item-hidden-{% if i.user_item.read %}1{% else %}0{% endif %}"
            onclick="itemClick(event, {{ i.feed_id }}, {{ i.user_item.item_id }}); return false;"
            data-id="{{ i.user_item.item_id }}"
            data-feed_id="{{ i.feed_id }}"
            data-enclosure_url="{{ i.enclosure_url or '' }}"
            data-enclosure_type="{{ i.enclosure_type or '' }}"
            data-play_position="{{ i.user_item.play_position }}"
            {% if feed_value_spec and feed_value_spec.is_supported %}data-has_value_spec="1"{% endif %}>
            <td>
                <span class="unlike-link">
                    <span onclick="likeItem({{ i.feed_id }}, {{ i.user_item.item_id }}, 0); return false;" href=""><i title="unlike" class="fas fa-heart" style="font-weight: solid;"></i></span>
                </span>
                <span class="like-link">
                    <span onclick="likeItem({{ i.feed_id }}, {{ i.user_item.item_id }}, 1); return false;" href=""><i title="like" class="far fa-heart" style="font-weight: regular;"></i></span>
                </span>
                {% if not liked %}
                <span class="unhide-link">
                    <span onclick="hideItem({{ i.feed_id }}, {{ i.user_item.item_id }}, 0); return false;" href=""><i title="undelete" class="fas fa-trash-alt"></i></span>
                </span>
                <span class="hide-link">
                    <span onclick="hideItem({{ i.feed_id }}, {{ i.user_item.item_id }}, 1); return false;" href=""><i title="delete" class="far fa-trash-alt"></i></span>
                </span>
                {% endif %}
                <span class="open-link">
                    <span href="" onclick="window.open('{{ i.url }}', '_blank'); return false;"><i title="open" class="fas fa-external-link-square-alt"></i></span>
                </span>
                {{ i.title }}
            </td>
            {% if i.updated_at %}
            <td title="{{ i.updated_at.strftime('%-d %b %Y %-H:%M') }}"><nobr>{{ i.updated_at.strftime('%-d %b') }}</nobr></td>
            {% else %}
            <td></td>
            {% endif %}
        </tr>
        <tr><td></td></tr>
    {% endfor %}
</table>
</td>
</tr>
</table>
{% endblock %}