{% extends "base.html" %}
{% block content %}
<h2>Karma</h2>
<h3>Podcast value</h3>
<table>
<tr><td>Total played</td><td>{{ played_value }} minutes</td></tr>
{% for action_name, amount in paid_value_amounts %}
<tr><td>Total {{ action_name }}</td><td>{{ amount }} sats</td></tr>
{% endfor %}
</table>

<h2>Account</h2>
<table>
    <tr><td><a href="{{ url_for('account.password') }}">change password</a></td></tr>
    <tr><td><a href="{{ url_for('account.logout') }}">log out</a></td></tr>
</table>
{% endblock %}