{% extends "base.html" %}
{% block content %}
<h2>Karma</h2>
<h3>Podcast value</h3>
<table>
<tr><td>Played</td><td>{{ played_value }}</td></tr>
<tr><td>Paid</td><td>{{ paid_value }}</td><td>{% if paid_value < played_value %}<a href="{{ url_for('account.pay') }}" title="send payment"><i class="fas fa-bolt"></i></a>{% endif %}</td></tr>
</table>

<h2>Account</h2>
<table>
    <tr><td><a href="{{ url_for('account.password') }}">change password</a></td></tr>
    <tr><td><a href="{{ url_for('account.logout') }}">log out</a></td></tr>
</table>
{% endblock %}