{% extends "base.html" %}
{% block content %}
<form method="POST">
    <input id="jwt_csrf_token" name="jwt_csrf_token" type="hidden" value="{{ jwt_csrf_token }}" />
    {{ form.hidden_tag() }}
    <table class="fullWidthTable" style="padding-top: 10%;">
        <tr><td></td><td>Note: Leave empty to remove the password!</td></tr>
        <tr class="form-row">
            <td>{{ form.new_password.label }}</td>
            <td>{{ form.new_password }}</td>
        </tr>
        <tr class="form-row">
            <td>{{ form.repeat_new_password.label }}</td>
            <td>{{ form.repeat_new_password }}</td>
        </tr>
        <tr class="form-row">
            <td></td>
            <td><button type="submit" onclick="if(document.getElementById('new_password').value === '') { return confirm('Are you sure you want to remove the password?'); } ">Set!</button></td>
        </tr>
    </table>
</form>
{% endblock %}