{% extends "base.html" %}
{% block content %}
<p>muSocial is a <strong>minimalist feed reader</strong>. Or an anti-social network. You can use it to follow blogs that publish RSS / Atom feeds, which most blogs do.</p>
<p><strong>Simple design</strong> that stays out your way. Inspired by <a href="http://news.ycombinator.com" target="_blank">Hacker News</a> and <a href="http://pinboard.in" target="_blank">Pinboard</a>.</p>
<p>All about <strong>privacy</strong>. <strong>Self-hosted</strong>. <strong>No tracking</strong>. <strong>No ads</strong>.</p>
<p><strong>Open source</strong>. You can browse the source code on <a target="_blank" href="https://github.com/ibz/musocial">GitHub</a>.</p>
{% endblock %}