<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>musocial - the anti-social network</title>
        <link rel="stylesheet" href="/static/style.css" />
        <script type="text/javascript" src="/static/utils.js"></script>
    </head>
    <body>
    <center>
    <table width="85%">
        <tr id="navbar">
            <td>
                <table width="100%">
                    <tr>
                    <td>
                        {% if user %}
                            <a href="{{ url_for('item.index') }}">feeds</a> |
                            <a href="{{ url_for('item.liked') }}">liked</a>
                        {% endif %}
                    </td>
                    <td style="text-align: right;">
                        <a href="{% if user %}{{ url_for('user.me') }}{% else %}{{ url_for('user.login') }}{% endif %}">me</a>
                    </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr id="flashes">
            <td>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <table width="100%">
                {% for message in messages %}
                    <tr class="error"><td style="text-align: center;">{{ message }}</td></tr>
                {% endfor %}
            </table>
            {% endif %}
            {% endwith %}
            </td>
        </tr>
        <tr class="content">
            <td>
            {% block content %}{% endblock %}
            <hr />
            </td>
        </tr>
    </table>
    </center>
    </body>
</html>