{% extends "base.html" %}
{% block content %}

{% if not liked %}
  my feeds <a href="{{ url_for('feed.add_website') }}">+ website</a> <a href="{{ url_for('feed.search_podcasts') }}">+ podcast</a>
{% endif %}
<hr />
<table>
<tr><td class="left-panel">
<table>
    <tr class="main-row feed-row">
        <td id="feed-"
            onclick="feedClick(event, null, {% if liked %}true{% else %}false{% endif %}); return false;">
            (all)
        </td>
    </tr>
    {% for feed in feeds %}
        <tr class="main-row feed-row">
            <td id="feed-{{ feed.id }}"
                class="feed-followed-1 {% if feed.active %}feed-active {% endif %}"
                onclick="feedClick(event, {{ feed.id }}, {% if liked %}true{% else %}false{% endif %}); return false;">
                <span class="unfollow-link">
                    <span onclick="followFeed({{ feed.id }}, 0, '{{ csrf_token() }}'); return false;" href=""><i class="far fa-eye"></i></span>
                </span>
                <span class="follow-link">
                    <span onclick="followFeed({{ feed.id }}, 1, '{{ csrf_token() }}'); return false;" href=""><i class="far fa-eye-slash"></i></span>
                </span>
                {{ feed.title }}
            </td>
        </tr>
        <tr><td></td></tr>
    {% endfor %}
</table>
</td><td class="right-panel">
{% if show_player %}
<audio id="podcastPlayer" controls>
    <source id="audioSource" src="" type=""></source>
    Your browser does not support the audio tag.
</audio> 
{% endif %}
<table>
    {% for item in items %}
        {% set user_item = item %}
        {% set item = user_item.item %}
        <tr class="main-row item-row">
            <td id="item-{{ item.id }}"
                data-id="{{ item.id }}"
                data-enclosure_url="{{ item.enclosure_url }}"
                data-enclosure_type="{{ item.enclosure_type }}"
                data-csrf_token="{{ csrf_token() }}"
                class="item {% if item.enclosure_url %}podcast {% endif %}item-liked-{% if user_item.liked %}1{% else %}0{% endif %} item-hidden-{% if user_item.read %}1{% else %}0{% endif %}"
                onclick="itemClick(event, '{{ item.id }}'); return false;">
                <span class="unlike-link">
                    <span onclick="likeItem({{ item.id }}, 0); return false;" href=""><i class="fas fa-heart" style="font-weight: solid;"></i></span>
                </span>
                <span class="like-link">
                    <span onclick="likeItem({{ item.id }}, 1); return false;" href=""><i class="far fa-heart" style="font-weight: regular;"></i></span>
                </span>
                {% if not liked %}
                <span class="unhide-link">
                    <span onclick="hideItem({{ item.id }}, 0); return false;" href=""><i class="fas fa-trash-alt"></i></span>
                </span>
                <span class="hide-link">
                    <span onclick="hideItem({{ item.id }}, 1); return false;" href=""><i class="far fa-trash-alt"></i></span>
                </span>
                {% endif %}
                <span class="open-link">
                    <span href="" onclick="window.open('{{ item.url }}', '_blank'); return false;"><i class="fas fa-external-link-square-alt"></i></span>
                </span>
                {{ item.title }}
        </td>
        </tr>
        <tr><td></td></tr>
    {% endfor %}
</table>
</td>
</tr>
</table>
{% endblock %}