{% extends "base.html" %}
{% block content %}
{% if not liked %}
my feeds <a href="{{ url_for('feed.follow_website') }}">+ website</a> <a href="{{ url_for('feed.podcast_search') }}">+ podcast</a>
{% endif %}
<hr />
<table>
<tr><td class="left-panel">
<table>
    <tr class="main-row">
        <td id="feed-">
            <a href="{% if liked %}{{ url_for('item.liked') }}{% else %}{{ url_for('item.index') }}{% endif %}">(all)</a>
        </td>
    </tr>
    {% for feed in feeds %}
        <tr class="main-row">
            <td id="feed-{{ feed.id }}" class="feed-followed-1">
                <a href="{% if liked %}{{ url_for('item.liked') }}{% else %}{{ url_for('item.index') }}{% endif %}?feed_id={{ feed.id }}">{{ feed.title }}</a>
                <span class="unfollow-link">
                    (<a onclick="followFeed({{ feed.id }}, 0, '{{ csrf_token() }}'); return false;" href="">unfollow</a>)
                </span>
                <span class="follow-link">
                    (<a onclick="followFeed({{ feed.id }}, 1, '{{ csrf_token() }}'); return false;" href="">follow</a>)
                </span>
            </td>
        </tr>
        <tr><td></td></tr>
    {% endfor %}
</table>
</td><td class="right-panel">
{% if show_player %}
<audio id="podcastPlayer" controls>
    <source id="audioSource" src="" type=""></source>
    Your browser does not support the audio tag.
</audio> 
{% endif %}
<table>
    {% for item in items %}
        {% set user_item = item %}
        {% set item = user_item.item %}
        <tr class="main-row item-row">
            <td id="item-{{ item.id }}"
                data-id="{{ item.id }}"
                data-enclosure_url="{{ item.enclosure_url }}"
                data-enclosure_type="{{ item.enclosure_type }}"
                data-csrf_token="{{ csrf_token() }}"
                class="item item-liked-{% if user_item.liked %}1{% else %}0{% endif %} item-hidden-{% if user_item.read %}1{% else %}0{% endif %}"
                {% if show_player %}
                    onclick="itemClick(event, '{{ item.id }}'); return false;"
                {% endif %}>
                <span class="unlike-link">
                    (<a onclick="likeItem({{ item.id }}, 0); return false;" href="">unlike</a>)
                </span>
                <span class="like-link">
                    (<a onclick="likeItem({{ item.id }}, 1); return false;" href="">like</a>)
                </span>
                {% if not liked %}
                <span class="unhide-link">
                    (<a onclick="hideItem({{ item.id }}, 0); return false;" href="">unhide</a>)
                </span>
                <span class="hide-link">
                    (<a onclick="hideItem({{ item.id }}, 1); return false;" href="">hide</a>)
                </span>
                {% endif %}
                <span class="open-link">
                    (<a href="" onclick="window.open('{{ item.url }}', '_blank'); return false;">open</a>)
                </span>
                {{ item.title }}
        </td>
        </tr>
        <tr><td></td></tr>
    {% endfor %}
</table>
</td>
</tr>
</table>
{% endblock %}