{% extends "base.html" %}
{% block content %}
<table>
        {% for item in items %}
            {% if item.user_id %}
                {% set user_item = item %}
                {% set item = user_item.item %}
                <tr><td id="item-{{ item.id }}" class="item-deleted-0 item-liked-{% if user_item.liked %}1{% else %}0{% endif %}">
                    <a href="{{ item.url }}">{{ item.title }}</a> ({{ item.domain_name }}), {{ item.relative_date }}
                    <span class="unlike-link">
                        (<a onclick="likeItem({{ item.id }}, 0, '{{ csrf_token() }}'); return false;" href="">unlike</a>)
                    </span>
                    <span class="like-link">
                        (<a onclick="likeItem({{ item.id }}, 1, '{{ csrf_token() }}'); return false;" href="">like</a>)
                    </span>
                    <span class="undelete-link">
                        (<a onclick="deleteItem({{ item.id }}, 0, '{{ csrf_token() }}'); return false;" href="">undelete</a>)
                    </span>
                    <span class="delete-link">
                        (<a onclick="deleteItem({{ item.id }}, 1, '{{ csrf_token() }}'); return false;" href="">delete</a>)
                    </span>
                </td></tr>
            {% else %}
                <tr><td id="item-{{ item.id }}">
                    <a href="{{ item.url }}">{{ item.title }}</a> ({{ item.domain_name }}), {{ item.relative_date }}
                </td></tr>
            {% endif %}
        {% endfor %}
</table>
{% endblock %}