{% extends "base.html" %}
{% block content %}

<form method="POST">
    <input id="jwt_csrf_token" name="jwt_csrf_token" type="hidden" value="{{ jwt_csrf_token }}" />
    {{ form.hidden_tag() }}
    {{ form.paid_for_items }}
    <table>
    {% for payment in form.payments %}
    <tr>
        <td>{{ payment.recipient }}</td>
        <td>{{ payment.amount.label }}</td>
        <td>{{ payment.amount }}</td>
    </tr>
    {% endfor %}
    </table>
    <!--
    Commented because the payments don't actually get executed yet!
    <button type="submit">Send!</button>
    -->
</form>

{% endblock %}