a:link, a:visited { color: black; text-decoration: none; }
body { font-family: Verdana, Geneva, Tahoma, sans-serif; overflow: scroll; }

.item-liked-1.item-hidden-0 { background-color: #D3DFC1; }
.item-hidden-1 { background-color: #DAB2BA; }
#navbar { background-color: #C4E38A; }
.error { background-color: #DAB2BA; }
.item-liked-1 .like-link { display: none; }
.item-liked-0 .like-link { display: inline; }
.item-liked-1 .unlike-link { display: inline; }
.item-liked-0 .unlike-link { display: none; }
.item-hidden-1 .hide-link { display: none; }
.item-hidden-0 .hide-link { display: inline; }
.item-hidden-1 .unhide-link { display: inline; }
.item-hidden-0 .unhide-link { display: none; }
.feed-followed-1 .follow-link { display: none; }
.feed-followed-0 .follow-link { display: inline; }
.feed-followed-1 .unfollow-link { display: inline; }
.feed-followed-0 .unfollow-link { display: none; }
.main-row { color: black; }
.extra-row { color: gray; }
.split-panels { width: 100%; }
.left-panel, .right-panel { vertical-align: top; }
.left-panel { width: 40%; } .right-panel { width: 60%; }
.feeds-table { width: 100%; border-spacing: 0; }
.feed-actions { width: 5%; }
.items-table { width: 100%; border-spacing: 0; }
.fullWidthTable { width: 100%; }
.item-row td:nth-child(2) { text-align: end; }
.item-row:hover, .item-active { background-color: #EBECCD; }
.feed-row:hover, .feed-active { background-color: #EBECCD; }
#feed-details { border: 1px solid; width: 100%; }
#podcastPlayer { width: 100%; }

/***** BEGIN dark mode *****/
/***** https://ar.al/2021/08/24/implementing-dark-mode-in-a-handful-of-lines-of-css-with-css-filters/ *****/
@media (prefers-color-scheme: dark) {
    body { filter: invert(100%) hue-rotate(180deg); }

    /* Firefox workaround: Set the background colour for the html element separately. */
    html { background-color: #111; }

    /* Do not invert media (revert the invert). */
    img, video, iframe, audio { filter: invert(100%) hue-rotate(180deg); }

    /* Re-enable code block backgrounds. */
    pre { filter: invert(6%); }

    /* Improve contrast on list item markers. */
    li::marker { color: #666; }
}
/***** END dark mode *****/
