{% extends "base.html" %}
{% block content %}
<table>
        {% for feed in feeds %}
            <tr><td id="feed-{{ feed.id }}" class="feed-followed-{% if feed.subscribed %}1{% else %}0{% endif %}">
                {{ feed.title }}
                <span class="unfollow-link">
                    (<a onclick="followFeed({{ feed.id }}, 0, '{{ csrf_token() }}'); return false;" href="">unfollow</a>)
                </span>
                <span class="follow-link">
                    (<a onclick="followFeed({{ feed.id }}, 1, '{{ csrf_token() }}'); return false;" href="">follow</a>)
                </span>
            </td></tr>
        {% endfor %}
</table>
{% endblock %}