---
---

@import "{{ site.theme }}";

body {
    padding: 0;
}

/***** BEGIN dark mode *****/
/***** https://ar.al/2021/08/24/implementing-dark-mode-in-a-handful-of-lines-of-css-with-css-filters/ *****/

@media (prefers-color-scheme: dark) {
    body {
      filter: invert(100%) hue-rotate(180deg);
    }
  
    /* Firefox workaround: Set the background colour for the html element separately. */
    html {
      background-color: #111;
    }
  
    /* Do not invert media (revert the invert). */
    img, video, iframe {
      filter: invert(100%) hue-rotate(180deg);
    }
  
    /* Improve contrast on icons. */
    .icon {
      filter: invert(15%) hue-rotate(180deg);
    }
  
    /* Re-enable code block backgrounds. */
    pre {
      filter: invert(6%);
    }
  
    /* Improve contrast on list item markers. */
    li::marker {
      color: #666;
    }
  }
  
  /***** END dark mode *****/
  
